<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> {% if title %}
    <title>{{ title }} - social network</title>
    {% else %}
    <title>social network</title>
    {% endif %}
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="{{ url_for('index') }}" class="brand">Social Network</a>
            <a href="{{ url_for('chats') }}">Чаты</a> {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Вход</a> {% else %}
            <a href="{{ url_for('logout') }}">Выход</a> {% endif %}
        </div>

        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %} {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/crypto.js') }}"></script>
    <script>
        //Функция обработки ключей
        async function initCrypto() {
            //localStorage - некое хранилище, в котором постоянно хранятся ключи: публичные и приватные
            let privateKey = localStorage.getItem('privateKey');
            let publicKey = localStorage.getItem('publicKey');

            if (!privateKey) {
                console.log("Генерация новых ключей...");
                const keys = await generateKeyPair();
                //Сохраняем ключи в хранилище
                localStorage.setItem('privateKey', keys.privateKey);
                localStorage.setItem('publicKey', keys.publicKey);
                //Сохраняем публичный ключ
                publicKey = keys.publicKey;

                //Отправляем публичный ключ на сервер
                await fetch('/save_public_key', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    //Отправляем публичный ключ в виде json 
                    body: JSON.stringify({
                        public_key: publicKey
                    })
                });
                console.log("Ключи сгенерированы и сохранены");
            } else {
                console.log("Ключи уже есть в localStorage");

                // Отправляем публичный ключ на сервер (на случай, если его там нет)
                await fetch('/save_public_key', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        public_key: publicKey
                    })
                });
            }
        }

        initCrypto();
    </script>
</body>

</html>